.superbutton {
    background: #fefefe;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-size: 18px;
    border: 2px solid #000;
    border-radius: 50px;
    box-shadow: 0.2em 0.2em;
    transition: 0.05s;
}

.superbutton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.25em 0.25em;
}

.superbutton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0em 0em;
}

.superbutton[variant="type-2"] {
    background: #75fec0;
}